@import url('https://rsms.me/inter/inter.css');

.tree {
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.directory {
  list-style: none;
  padding: 2px 0 2px 0;
}

.directory-item {
}

.directory-item-name {
}

.directory-item-name:hover {
  color: blue;
  cursor: pointer;
}

.file-item {
  padding: 2px 0 2px 0;
}

.tree-item:before {
  content: "├─";
  display: inline-block;
  padding-right: 0.5em;
}

.tree-item:last-child:before {
  content: "└─";
  display: inline-block;
  padding-right: 0.5em;
}

.file-item:hover {
  color: red;
  cursor: pointer;
}


.directory .file-item {
  padding: 2px 0 2px 1em;
}

